<form [formGroup]="spForm" class="example-form">

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="lastName" matInput
           placeholder="Фамилия">
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Фамилия <strong>обязательна</strong>
    </mat-error>
  </mat-form-field>

  <div *ngIf="foundPatients !== undefined && foundPatients.length === 0">Пациентов с выбранной фамилией не найдено</div>

  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!spForm.valid" value="bold">Принять</button>
</form>

<p></p>

<div [hidden]="showTables">
  <table [dataSource]="foundPatients" [hidden]="!isGetPatients" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="patient">
      <th *matHeaderCellDef mat-header-cell>Пациент</th>
      <td *matCellDef="let element" mat-cell> {{element.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th *matHeaderCellDef mat-header-cell>Дата Рождения</th>
      <td *matCellDef="let element" mat-cell> {{element.birthday}} </td>
    </ng-container>

    <ng-container matColumnDef="card">
      <th *matHeaderCellDef mat-header-cell>Карта</th>
      <td *matCellDef="let element" mat-cell>
        <mat-button-toggle-group aria-label="Font Style" name="fontStyle">
          <button mat-flat-button color="primary" (click)="getCard(element)" value="underline">Просмотреть
          </button>
        </mat-button-toggle-group>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <p></p>
  <app-card-form [hidden]="!isGetCards"></app-card-form>
</div>

<div [hidden]="!showAddForm">
  <mat-form-field class="example-full-width">
    <textarea [formControl]="opinion" matInput placeholder="Введите заключение"></textarea>
  </mat-form-field>
</div>

<mat-button-toggle-group aria-label="Font Style" name="fontStyle">
      <button mat-flat-button color="primary" [ngClass]="{'disabled-button' : !isGetSelectedPatient}" [hidden]="!isGetCards"
                         [disabled]="!isGetSelectedPatient" (click)="addDiagnosis()" value="underline">
    Добавить заключение
  </button>
</mat-button-toggle-group>






