<form [formGroup]="cabForm" class="example-form">

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="cabinetName" matInput
           placeholder="Название кабинета">
    <mat-error *ngIf="cabinetNameFormControl.hasError('required')">
      Обязательное поле
    </mat-error>
  </mat-form-field>

  <div *ngIf="done">
    <p>Кабинет {{receivedCabinet.cabinetName}} успешно добавлен</p>
  </div>

  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!cabForm.valid" value="bold">Добавить
  </button>

</form>

