table {
  width: 100%;
}

.mat-column-specialty,
.mat-column-phone {
  text-align: center;
}

.mat-column-schedule {
  place-content: center;
}

.mat-column-create {
  margin-left: 49px;
  place-content: center;
}
