<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Login</th>
        <th scope="col">Last name</th>
        <th scope="col">First name</th>
        <th scope="col">Middle name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.middleName }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>{{ user.role }}</td>
        <td><button (click)="deleteUser(user.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
