<mat-toolbar color="primary">
  <a mat-button routerLink="/users">List Users</a>
  <a mat-button routerLink="/cabinets">List Cabinets</a>
  <a mat-button routerLink="/specialties">List Specialties</a>
  <a mat-button routerLink="/patients">List Patients</a>
  <a mat-button routerLink="/doctors">List Doctors</a>
  <a mat-button routerLink="/timeslots">Timeslots</a>
  <a mat-button routerLink="/searchpatient">Search Patient</a>
  <a mat-button routerLink="/patientrecordbydoctor">Patient Record By Doctor</a>
  <a mat-button routerLink="/patientpastvisits">Patient Past Visits</a>
  <a mat-button routerLink="/patientcard">Patient Card</a>
  <a mat-button routerLink="/login">Login</a>
</mat-toolbar>

