<form class="example-form" [formGroup]="spForm">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Фамилия" formControlName="lastName"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="lastNameFormControl.hasError('pattern') && !lastNameFormControl.hasError('required')">
      Пожалуйста введите верную фамилию
    </mat-error>
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Фамилия <strong>обязательна</strong>
    </mat-error>
  </mat-form-field>

  <div *ngIf="foundDoctors !== undefined && foundDoctors.length === 0">Докторов с выбранной фамилией не найдено</div>

  <button mat-flat-button color="primary" value="bold" [disabled]="!spForm.valid" (click)="onSubmit()">Принять</button>
</form>

<p></p>

<table mat-table [dataSource]="foundDoctors" class="mat-elevation-z8" [hidden]="!isGetDoctors">

  <ng-container matColumnDef="doctor">
    <th mat-header-cell *matHeaderCellDef>Доктор</th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="specialties">
    <th mat-header-cell *matHeaderCellDef>Специальность</th>
    <td mat-cell *matCellDef="let element">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <button mat-flat-button color="primary" value="underline" (click)="getSpecialties(element)">
          Просмотреть
        </button>
      </mat-button-toggle-group>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="doctorsColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: doctorsColumns;"></tr>
</table>

<p></p>

<div [hidden]="!isGetSelectedDoctor">
  <table mat-table [dataSource]="doctorSpecialties" class="mat-elevation-z8">

    <ng-container matColumnDef="specialtyName">
      <th mat-header-cell *matHeaderCellDef>Специальность</th>
      <td mat-cell *matCellDef="let element"> {{element.specialtyName}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Средняя длительность рприёма</th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <ng-container matColumnDef="specialties">
      <th mat-header-cell *matHeaderCellDef>Специальность</th>
      <td mat-cell *matCellDef="let element">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <button mat-flat-button color="primary" value="underline" (click)="deleteSpecialty(element)">
            Удалить
          </button>
        </mat-button-toggle-group>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="specialtiesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: specialtiesColumns;"></tr>
  </table>

  <mat-form-field (click)="getAllSpecialties()" class="example-full-width">
    <mat-label>Специальности</mat-label>
    <mat-select [formControl]="addingSpecialties" multiple>
      <mat-option *ngFor="let specialty of allSpecialties"
                  [value]="specialty">{{specialty.specialtyName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" value="bold" (click)="putSpecialties()">Добавить специальность</button>
</div>

