<h2 mat-dialog-title>Изменение пароля</h2>

<mat-dialog-content class="example-full-width">

  <form #form="ngForm" (ngSubmit)="checkPassword()">
    <mat-form-field class="example-full-width">
      <mat-label class="font">Текущий пароль</mat-label>
      <input matInput type="password" name="currentPassword" [(ngModel)]="binding" (keyup)="trigger()" required>
    </mat-form-field>

    <mat-error *ngIf="!isCurrentPasswordRight && isCurrentPasswordSent">
      Неверный пароль
    </mat-error>

    <!--<button class="mat-raised-button" [disabled]="form.invalid" (click)="checkPassword('lkl')">Ввод</button>
    <p></p>-->
  </form>

  <div [hidden]="!isCurrentPasswordRight">
    <mat-form-field class="example-full-width">
      <mat-label class="font">Новый пароль</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="newPassword">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="font">Повторите пароль</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="repeatedPassword">
    </mat-form-field>

    <mat-error *ngIf="!permitChange()">
      Пароли не совпадают
    </mat-error>
  </div>

  <p *ngIf="isDone">Пароль успешно изменён</p>

</mat-dialog-content>

<mat-dialog-actions>
  <div [hidden]="!isCurrentPasswordRight">
    <button class="mat-raised-button mat-primary" [disabled]="!permitChange()" (click)="changePassword()">Сохранить изменения</button>
  </div>
</mat-dialog-actions>


<!--
<h2 mat-dialog-title>
  Изменение пароля
</h2>

<mat-dialog-content #form="ngForm" (ngSubmit)="checkPassword()">
  <mat-form-field>
    <mat-label>Текущий пароль</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="currentPassword" required>
  </mat-form-field>

  <mat-error *ngIf="isCurrentPasswordSent && !isCurrentPasswordRight">
    Неверный пароль
  </mat-error>
  <p></p>

  <button mat-button type="submit" [ngClass]="{'enable-button': !form.invalid}"
          [disabled]="form.invalid" Ввод>
  </button>

  <p></p>
</mat-dialog-content>

<div [hidden]="!isCurrentPasswordRight">
  <mat-form-field>
    <mat-label>Новый пароль</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="newPassword" required>
  </mat-form-field>

  <p></p>

  <mat-form-field>
    <mat-label>Повторите пароль</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="repeatedPassword" required>
  </mat-form-field>

  <mat-error *ngIf="newPassword !== repeatedPassword">
    Пароли не совпадают
  </mat-error>

  <p></p>

  <p *ngIf="isDone">Пароль успешно изменён</p>

  <mat-card-actions align="end">
    <button mat-button type="submit" [ngClass]="{'enable-button': permitChange()}"
            (click)="changePassword()" [disabled]="!permitChange()">
      Изменить пароль
    </button>
  </mat-card-actions>
</div>
-->
