<h2 mat-dialog-title>Изменение пароля</h2>

<form #form="ngForm" class="example-full-width">
  <mat-dialog-content class="example-full-width">

    <mat-form-field class="example-full-width">
      <mat-label class="font">Текущий пароль</mat-label>
      <input matInput type="password" name="currentPassword" [(ngModel)]="bindingCurrentPassword"
             (keyup)="triggerCurrentPassword()" required>
    </mat-form-field>

    <mat-error *ngIf="!isCurrentPasswordRight && isCurrentPasswordSent && !isDone">
      Неверный пароль
    </mat-error>

    <div [hidden]="!isCurrentPasswordRight">
      <mat-form-field class="example-full-width">
        <mat-label class="font">Новый пароль</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="bindingNewPassword" (keyup)="triggerNewPassword()">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label class="font">Повторите пароль</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="bindingRepeatedPassword"
               (keyup)="triggerRepeatedPassword()">
      </mat-form-field>

      <mat-error *ngIf="!enableChange">
        Пароли не совпадают
      </mat-error>
    </div>

    <p *ngIf="isDone">Пароль успешно изменён</p>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div [hidden]="!isCurrentPasswordRight">
      <button class="mat-raised-button mat-primary" [disabled]="!enableChange" (click)="changePassword(); form.resetForm()">Сохранить
        изменения
      </button>
    </div>
  </mat-dialog-actions>
</form>
