<h2 mat-dialog-title>Изменение пароля</h2>

<form #form="ngForm" class="example-full-width">
  <mat-dialog-content class="example-full-width">

    <mat-form-field class="example-full-width">
      <mat-label class="font">Текущий пароль</mat-label>
      <input matInput [type]="hideOldPassword ? 'password' : 'text'" type="password" name="currentPassword" [(ngModel)]="bindingCurrentPassword"
             (keyup)="triggerCurrentPassword()" required>
      <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Скрыть'" [attr.aria-pressed]="hideOldPassword">
        <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-error *ngIf="!isCurrentPasswordRight && isCurrentPasswordSent && !isDone">
      Неверный пароль
    </mat-error>

    <div [hidden]="!isCurrentPasswordRight">
      <mat-form-field class="example-full-width">
        <mat-label class="font">Новый пароль</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" type="password" name="password" [(ngModel)]="bindingNewPassword" (keyup)="triggerNewPassword()">
        <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Скрыть'" [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label class="font">Повторите пароль</mat-label>
        <input matInput [type]="hideRepeatPassword ? 'password' : 'text'" type="password" name="password" [(ngModel)]="bindingRepeatedPassword"
               (keyup)="triggerRepeatedPassword()">
        <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword" [attr.aria-label]="'Скрыть'" [attr.aria-pressed]="hideRepeatPassword">
          <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-error *ngIf="!enableChange">
        Пароли не совпадают
      </mat-error>
    </div>

    <p *ngIf="isDone">Пароль успешно изменён</p>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div [hidden]="!isCurrentPasswordRight">
      <button class="mat-raised-button mat-primary" [disabled]="!enableChange" (click)="changePassword(); form.resetForm()">Сохранить
        изменения
      </button>
    </div>
  </mat-dialog-actions>
</form>
