<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Doctor</th>
        <th scope="col">Date</th>
        <th scope="col">Start time</th>
        <th scope="col">End time</th>
        <th scope="col">Cabinet</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let schedule of schedules">
        <td>{{ schedule.id }}</td>
        <td>{{ schedule.userId }}</td>
        <td>{{ schedule.date }}</td>
        <td>{{ schedule.startTime }}</td>
        <td>{{ schedule.endTime }}</td>
        <td>{{ schedule.cabinet }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
