<form [formGroup]="docForm" class="example-form">

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="login" matInput
           placeholder="Логин">
    <mat-error *ngIf="loginFormControl.hasError('maxLength') && !loginFormControl.hasError('required')">
      Максимальная длина 32 символа
    </mat-error>
    <mat-error *ngIf="loginFormControl.hasError('required')">
      Обязательное поле
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="password" matInput
           placeholder="Пароль">
    <mat-error *ngIf="passwordFormControl.hasError('minLength') && !passwordFormControl.hasError('required')">
      Максимальная длина 32 символа
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Обязательное поле
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="firstName" matInput
           placeholder="Имя">
    <mat-error *ngIf="firstNameFormControl.hasError('maxLength') && !firstNameFormControl.hasError('required')">
      Максимальная длина 32 символа
    </mat-error>
    <mat-error *ngIf="firstNameFormControl.hasError('required')">
      Обязательное поле
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="lastName" matInput
           placeholder="Фамилия">
    <mat-error *ngIf="lastNameFormControl.hasError('maxLength') && !lastNameFormControl.hasError('required')">
      Максимальная длина 32 символа
    </mat-error>
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Обязательное поле
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="middleName" matInput
           placeholder="Отчество">
    <mat-error *ngIf="middleNameFormControl.hasError('maxLength')">
      Максимальная длина 32 символа
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" [formControl]="emailFormControl" formControlName="email"
           matInput placeholder="Email">
    <mat-error
      *ngIf="emailFormControl.hasError('email') && emailFormControl.hasError('maxLength') && !emailFormControl.hasError('required')">
      Пожалуйста введите действительный Email
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Обязательное поле
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="phone" matInput
           placeholder="Телефон">
    <mat-hint>Введите номер телефона в формате 89001234567</mat-hint>
    <mat-error *ngIf="phoneFormControl.hasError('pattern') && !phoneFormControl.hasError('required')">
      Пожалуйста введите номер телефона
    </mat-error>
    <mat-error *ngIf="phoneFormControl.hasError('required')">
      Обязательное поле
    </mat-error>
  </mat-form-field>

  <mat-form-field (click)="getSpecialties()" class="example-full-width">
    <mat-label>Специальности</mat-label>
    <mat-select [formControl]="selectedSpecialtiesFormControl" multiple>
      <mat-option *ngFor="let specialty of specialties" [value]="specialty">{{specialty.specialtyName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="done">
    <p>Доктор {{receivedUser.lastName}} успешно добавлен</p>
  </div>
  <div *ngIf="alreadyExists">
    <p>Пользователь с таким логином уже зарегистрирован, пожалуйста выберите другой логин</p>
  </div>

  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!docForm.valid" value="bold">Регистрация
  </button>

</form>

