<div class="card my-5">
  <div class="card-body">
    <mat-form-field>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Фильтр">
    </mat-form-field>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <ng-container matColumnDef="Пациент">
        <th *matHeaderCellDef mat-header-cell>Пациент</th>
        <td *matCellDef="let composite" mat-cell> {{composite.patient}} </td>
      </ng-container>

      <ng-container matColumnDef="Дата рождения">
        <th *matHeaderCellDef mat-header-cell>Дата рождения</th>
        <td *matCellDef="let composite" mat-cell> {{composite.birthday}} </td>
      </ng-container>

      <ng-container matColumnDef="Телефон">
        <th *matHeaderCellDef mat-header-cell>Телефон</th>
        <td *matCellDef="let composite" mat-cell> {{composite.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="Запись">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let composite">
          <button (click)="makeAppointment(composite.patientId)" mat-button>Запись</button>
        </mat-cell>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
  </div>
</div>
