<table [dataSource]="foundPatientTimeslots" mat-table>

  <ng-container matColumnDef="doctorName">
    <th *matHeaderCellDef mat-header-cell>Доктор</th>
    <td *matCellDef="let element" mat-cell> {{element.doctorName}} </td>
  </ng-container>

  <ng-container matColumnDef="specialtyName">
    <th *matHeaderCellDef mat-header-cell>Специальность</th>
    <td *matCellDef="let element" mat-cell> {{element.specialtyName}} </td>
  </ng-container>

  <ng-container matColumnDef="cabinetName">
    <th *matHeaderCellDef mat-header-cell>Кабинет</th>
    <td *matCellDef="let element" mat-cell> {{element.cabinetName}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell>Дата</th>
    <td *matCellDef="let element" mat-cell> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th *matHeaderCellDef mat-header-cell>Время</th>
    <td *matCellDef="let element" mat-cell> {{element.time}} </td>
  </ng-container>

      <ng-container matColumnDef="record">
        <th *matHeaderCellDef mat-header-cell>Запись</th>
        <td *matCellDef="let element" mat-cell>
          <mat-button-toggle-group aria-label="Font Style" name="fontStyle">
            <button mat-flat-button color="primary" value="underline" (click)="cancelRecord(element)">Отменить запись
            </button>
          </mat-button-toggle-group>
        </td>
      </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>


