<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/users">List Users</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/cabinets">List Cabinets</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/specialties">List Specialties</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/patients">List Patients</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/doctors">List Doctors</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/timeslots">Timeslots</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/addadmin">Add Admin</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/addcabinet">Add Cabinet</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/addpatient">Add Patient</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/adddoctor">Add Doctor</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/addspecialty">Add Specialty</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/searchpatient">Search Patient</a></li>
            <li class="list-inline-item"><a class="btn btn-info" routerLink="/patientrecordbydoctor">Patient Record By
              Doctor</a></li>

          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
