:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  //position: fixed;
  margin-left: 8%;
  margin-right: 8%;
}

.body {
  flex: 1;
  margin: 2% 13% 5%;
}

.footer {
  margin-left: 8%;
  margin-right: 8%;
}

