<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/users" class="btn btn-info">List Users</a></li>
            <li class="list-inline-item"><a routerLink="/cabinets" class="btn btn-info">List Cabinets</a></li>
            <li class="list-inline-item"><a routerLink="/specialties" class="btn btn-info">List Specialties</a></li>
            <li class="list-inline-item"><a routerLink="/patients" class="btn btn-info">List Patients</a></li>
            <li class="list-inline-item"><a routerLink="/doctors" class="btn btn-info">List Doctors</a></li>
            <li class="list-inline-item"><a routerLink="/timeslots" class="btn btn-info">Timeslots</a></li>
            <li class="list-inline-item"><a routerLink="/addadmin" class="btn btn-info">Add Admin</a></li>
            <li class="list-inline-item"><a routerLink="/addcabinet" class="btn btn-info">Add Cabinet</a></li>
            <li class="list-inline-item"><a routerLink="/addpatient" class="btn btn-info">Add Patient</a></li>
            <li class="list-inline-item"><a routerLink="/adddoctor" class="btn btn-info">Add Doctor</a></li>
            <li class="list-inline-item"><a routerLink="/addspecialty" class="btn btn-info">Add Specialty</a></li>
            <li class="list-inline-item"><a routerLink="/searchpatient" class="btn btn-info">Search Patient</a></li>
            <li class="list-inline-item"><a routerLink="/patientrecordbydoctor" class="btn btn-info">Patient Record By Doctor</a></li>
            <li class="list-inline-item"><a routerLink="/updatedoctor" class="btn btn-info">Update Doctor</a></li>
            <li class="list-inline-item"><a routerLink="/updatespecialtydoctor" class="btn btn-info">Update Specialties Doctor</a></li>
            <li class="list-inline-item"><a routerLink="/updatepatient" class="btn btn-info">Update Patient</a></li>
            <li class="list-inline-item"><a routerLink="/updateadmin" class="btn btn-info">Update Admin</a></li>
            <li class="list-inline-item"><a routerLink="/patientpastvisits" class="btn btn-info">Patient Past Visits</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
