:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  position: fixed;
  margin-left: 15%;
  margin-right: 15%;
}

.body {
  flex: 1;
  margin: 5% 20% 5%;
}

.footer {
  margin-left: 15%;
  margin-right: 15%;
}
