<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="specForm" class="example-form">

      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="specialtyName" matInput
               placeholder="Специальность">
        <mat-error *ngIf="specialtyNameFormControl.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="duration" matInput
               placeholder="Продолжительность приема">
        <mat-error *ngIf="durationFormControl.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <div *ngIf="done">
        <p>Специальность {{receivedSpecialty.specialtyName}} успешно добавлена</p>
      </div>

      <mat-button-toggle (click)="onSubmit()" [disabled]="!specForm.valid" value="bold">Добавить</mat-button-toggle>

    </form>
  </div>
</div>
