<div class="card my-5">
  <div class="card-body">

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <ng-container matColumnDef="specialty">
        <th *matHeaderCellDef mat-header-cell>Специальность</th>
        <td *matCellDef="let specialty" mat-cell> {{specialty.specialtyName}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef mat-header-cell></th>
        <mat-cell *matCellDef="let specialty">
          <button (click)="deleteSpecialty(specialty.id)" mat-button>Удалить</button>
        </mat-cell>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
