<table [dataSource]="dataSource" mat-table>

  <ng-container matColumnDef="specialty">
    <th *matHeaderCellDef mat-header-cell>Специальность</th>
    <td *matCellDef="let specialty" mat-cell> {{specialty.specialtyName}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell></th>
    <mat-cell *matCellDef="let specialty">
      <button mat-flat-button color="primary" (click)="deleteSpecialty(specialty.id)" mat-button>Удалить</button>
    </mat-cell>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

