<div class="card my-5">
  <div class="card-body">
    <form class="example-form" [formGroup]="specForm">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Специальность" formControlName="specialtyName"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="specialtyNameFormControl.hasError('pattern') && !specialtyNameFormControl.hasError('required')">
          Пожалуйста введите название специальности
        </mat-error>
        <mat-error *ngIf="specialtyNameFormControl.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Продолжительность приема" formControlName="duration"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="durationFormControl.hasError('maxLength') && !durationFormControl.hasError('required')">
          Пожалуйста введите продолжительность приема
        </mat-error>
        <mat-error *ngIf="durationFormControl.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <div *ngIf="done">
        <p>Специальность {{receivedSpecialty.specialtyName}} успешно добавлена</p>
      </div>

      <mat-button-toggle value="bold" [disabled]="!specForm.valid" (click)="onSubmit()">Добавить</mat-button-toggle>

    </form>
  </div>
</div>
