<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <a mat-button routerLink="/addadmin">Add Admin</a>
  <a mat-button routerLink="/addcabinet">Add Cabinet</a>
  <a mat-button routerLink="/addpatient">Add Patient</a>
  <a mat-button routerLink="/adddoctor">Add Doctor</a>
  <a mat-button routerLink="/addspecialty">Add Specialty</a>
  <a mat-button routerLink="/updatedoctor">Update Doctor</a>
  <a mat-button routerLink="/updatepatient">Update Patient</a>
  <a mat-button routerLink="/updateadmin">Update Admin</a>
</mat-toolbar>
