<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cabinet name</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cabinet of cabinets">
        <td>{{ cabinet.id }}</td>
        <td>{{ cabinet.cabinetName }}</td>
        <td><button (click)="deleteCabinet(cabinet.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
