<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Phone</th>
        <th scope="col">Birthday</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.id }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.birthday }}</td>
        <td><button (click)="deletePatient(patient.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
