<div class="card my-5">
  <div class="card-body">
    <form class="example-form" [formGroup]="scheduleForm">

      <mat-form-field (click)="getSpecialties()" class="example-full-width">
        <mat-select matInput placeholder="Специальность" formControlName="specialty">
          <mat-option *ngFor="let specialty of specialties" [value]="specialty">
            {{specialty.specialtyName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field (click)="getFreeDays()" class="example-full-width">
        <mat-select matInput placeholder="Дата" formControlName="date">
          <mat-option *ngFor="let date of freeDays" [value]="date">
            {{date}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Начальное время" formControlName="startTime"
               [errorStateMatcher]="matcher">
        <mat-hint>Введите время в формате 09:00</mat-hint>
        <mat-error *ngIf="startTimeFormControl.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Конечное время" formControlName="endTime"
               [errorStateMatcher]="matcher">
        <mat-hint>Введите время в формате 18:35</mat-hint>
        <mat-error *ngIf="endTimeFormControl.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field (click)="getCabinets()" class="example-full-width">
        <mat-select matInput placeholder="Кабинет" formControlName="cabinet">
          <mat-option *ngFor="let cabinet of cabinets" [value]="cabinet">
            {{cabinet.cabinetName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-button-toggle value="bold" [disabled]="!scheduleForm.valid" (click)="onSubmit()">Создать</mat-button-toggle>

    </form>
  </div>
</div>
