<div class="card my-5">
  <div class="card-body">
    <form class="example-form" [formGroup]="cabForm">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Название кабинета" formControlName="cabinetName"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="cabinetNameFormControl.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <div *ngIf="done">
        <p>Кабинет {{receivedCabinet.cabinetName}} успешно добавлен</p>
      </div>

      <mat-button-toggle value="bold" [disabled]="!cabForm.valid" (click)="onSubmit()">Добавить</mat-button-toggle>

    </form>
  </div>
</div>
