<div class="card my-5">
  <div class="card-body">
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="date">Date</th>
        <th mat-sort-header="time">Time</th>
        <th mat-sort-header="specialty">Specialty</th>
        <th mat-sort-header="doctor">Doctor</th>
        <th mat-sort-header="cabinet">Cabinet</th>
        <th mat-sort-header="patient">Patient</th>
      </tr>

      <tr *ngFor="let composite of sortedData">
        <td >{{composite.date}}</td>
        <td>{{composite.time}}</td>
        <td>{{composite.specialty}}</td>
        <td>{{composite.doctor}}</td>
        <td>{{composite.cabinet}}</td>
        <td>{{composite.patient}}</td>
      </tr>
    </table>
  </div>
</div>
