<div class="card my-5">
  <div class="card-body">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Дата</th>
        <td mat-cell *matCellDef="let composite"> {{composite.date}} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Время</th>
        <td mat-cell *matCellDef="let composite"> {{composite.time}} </td>
      </ng-container>

      <ng-container matColumnDef="specialty">
        <th mat-header-cell *matHeaderCellDef>Специальность</th>
        <td mat-cell *matCellDef="let composite"> {{composite.specialty}} </td>
      </ng-container>

      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef>Доктор</th>
        <td mat-cell *matCellDef="let composite"> {{composite.doctor}} </td>
      </ng-container>

      <ng-container matColumnDef="cabinet">
        <th mat-header-cell *matHeaderCellDef>Кабинет</th>
        <td mat-cell *matCellDef="let composite"> {{composite.cabinet}} </td>
      </ng-container>

      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef>Пациент</th>
        <td mat-cell *matCellDef="let composite"> {{composite.patient}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <mat-cell *matCellDef="let composite" >
          <button mat-button (click)="deleteTimeslot(composite.id)">Удалить</button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>




<!--div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Дата">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
      <td mat-cell *matCellDef="let composite"> {{composite.date}} </td>
    </ng-container>

    <ng-container matColumnDef="Время">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Время</th>
      <td mat-cell *matCellDef="let composite"> {{composite.time}} </td>
    </ng-container>

    <ng-container matColumnDef="Специальность">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Специальность</th>
      <td mat-cell *matCellDef="let composite"> {{composite.specialty}} </td>
    </ng-container>

    <ng-container matColumnDef="Доктор">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Доктор</th>
      <td mat-cell *matCellDef="let composite"> {{composite.doctor}} </td>
    </ng-container>

    <ng-container matColumnDef="Пациент">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Пациент </th>
      <td mat-cell *matCellDef="let composite"> {{composite.patient}} </td>
    </ng-container>

    <ng-container matColumnDef="Запись">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <button mat-button >Запись</button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div-->








